# packages/asset.yaml

parameters:
  dist.basePath: "%env(STYLESHEETPATH)%/dist"
  dist.uri: "%env(STYLESHEET_PATH_URI)%/dist"

services:
  option.js:
    class: 'Vigihdev\WpAssets\DTOs\JsOptionsDto'
    arguments:
      $strategy: "defer"
      $inFooter: true

  nonce.asset:
    class: 'Vigihdev\WpAssets\NonceScriptAsset'
    arguments:
      $actions:
        - "order"
        - "btn_harga"

  module.js.asset:
    class: 'Vigihdev\WpAssets\ModuleJsAsset'
    arguments:
      $basePath: "%dist.basePath%/module-js"
      $baseUrl: "%dist.uri%/module-js"
      $version: "%env(ASSETS_VERSION)%"
      $js:
        - "js/main.js"

  app.asset:
    class: 'Vigihdev\WpAssets\AppAsset'
    arguments:
      $basePath: "%dist.basePath%"
      $baseUrl: "%dist.uri%"
      $version: "%env(ASSETS_VERSION)%"
      $jsOption: "@option.js"
      $js:
        - "js/bootstrap-bundle.js"
        - "js/service-worker.js"
        - "js/owl-carousel.js"
        - "js/test.js"
      $css:
        - "css/bootstrap.bundle.css"

  jquery.asset:
    class: 'Vigihdev\WpAssets\JqueryAsset'
    arguments:
      $basePath: "%dist.basePath%"
      $baseUrl: "%dist.uri%"
      $version: "%env(ASSETS_VERSION)%"
      $jsOption: "@option.js"
      $js:
        - "js/jquery.min.js"

  js.option:
    class: 'Vigihdev\WpAssets\DTOs\JsOptionsDto'
    arguments:
      $strategy: "defer"
      $inFooter: true

  # Asset Manager Service
  Vigihdev\WpAssets\Contracts\WpAssetManagerInterface:
    class: 'Vigihdev\WpAssets\Service\WpAssetManagerService'
    public: true
    arguments:
      $assets:
        jquery: "@jquery.asset"
        appAsset: "@app.asset"
        nonceAsset: "@nonce.asset"
        moduleJsAsset: "@module.js.asset"
        jsOptions: "@js.option"
