# Dependency directories dot
.amazonq
.github
.vscode
.trae
.marscode
.DS_Store
.phpunit.cache
nodemon.json
package-lock.json
package.json
node_modules/
vendor/
tests/
composer.lock
wp-bootstrap.php
dev.php
docs
scripts/