# Dependency directories dot
.amazonq
.vscode
.trae
.marscode
.DS_Store
.phpunit.cache
config
nodemon.json
package-lock.json
package.json
node_modules
vendor
composer.lock
wp-bootstrap.php
dev.php
scripts
local-dev